<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title> Questions </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
<div id="page-wrap">
  <header class="main" id="h1">
    <h2>quizNode.js</h2>
  </header>

  <nav class="main" id="n1" role="navigation">
    <span><a href="/">Home</a></span>
    <span><a href="/quizes/question">Questions</a></span>
  </nav>

  <section class="main" id="s1">
    <div>
      <%- body %>
    </div>
  </section>

  <footer class="main" id="f1">
    <a href="http://es.wikipedia.org/wiki/Quiz">
      ¿What is a Quiz?</a>
  </footer>
</div>
</body>
</html>
