<label for="preg" class="rem">Question:</label>
<input type="text" id="preg" name="quiz[pregunta]" value="" placeholder="<%= quiz.pregunta %>"/> <p>
<label for="resp" class="rem">Answer:</label>
<input type="text" id="resp" name="quiz[respuesta]" value="" placeholder="<%= quiz.respuesta %>"/> <p>
<a href="/quizes"><button type="button">Cancel</button></a>
<input type="submit" value="Save">
