<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>quizNode.js</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  <h2>quizNode.js</h2>

  <%= respuesta %><p>
  <a href="/quizes/question"> Try again </a>
  </body>
</html>
