    <form method="get" action="/quizes/answer">
      Question: <%= pregunta %> <p>
      <input type="text" name="respuesta" value="Write your answer here"/>
      <input type="submit" value="Send">
    </form>
