<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>quizNode.js</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h2>quizNode.js</h2>

    <form method="get" action="/quizes/answer">
      Question: <%= pregunta %> <p>
      <input type="text" name="respuesta" value="Write your answer here"/>
      <input type="submit" value="Send">
    </form>
  </body>
</html>
