    <form method="get" action="/quizes/<%= quiz.id %>/answer">
      Question: <%= quiz.pregunta %> <p>
      <input type="text" name="respuesta" placeholder="Write your answer here"/>
      <input type="submit" value="Send">
    </form>
